$color: #000000;
$bgColor: #ffffff;
$disabled-color: #aaaaaa;

$op-color: #f5f5dc;
$op-bgColor: #0479ba;
$op-bgColor-light: #e2ebff;
$op-bgColor-hover: #6CAEF5;

$normal-font-size: 14px;
$brand-font: 20px;

$table-bgColor: $op-color;
$table-color: $color;
$table-header-bgColor: $op-bgColor;
$table-header-color: $op-color;
$table-row-hover-color: #6CAEF5;

$default-font: Yekan, Arial, Helvetica, sans-serif;
$ltr-font: Yekan, Arial, Helvetica, sans-serif;

