$color: #000000;
$bgColor: #ffffff;
$disabled-color: #aaaaaa;

$op-color: #f5f5dc;
$op-bgColor: #4682b4;
$op-bgColor-light: lighten($op-bgColor, 40%);
$op-bgColor-hover: darken($op-bgColor, 10%);

$normal-font-size: 14px;
$brand-font: 20px;

$table-bgColor: $op-color;
$table-color: $color;
$table-header-bgColor: $op-bgColor;
$table-header-color: $op-color;
$table-row-hover-color: #6CAEF5;

$default-font: IRANSans, Yekan, Arial, Helvetica, sans-serif;
$ltr-font: IRANSans, Yekan, Arial, Helvetica, sans-serif;

