@font-face {
	font-family: "Yekan";
	src: url("../../fonts/Yekan.eot?-wwn5ej");
	src: url("../../fonts/Yekan.eot?#iefix-wwn5ej") format("embedded-opentype"),
	url("../../fonts/Yekan.woff?-wwn5ej") format("woff"),
	url("../../fonts/Yekan.ttf?-wwn5ej") format("truetype"),
	url("../../fonts/Yekan.svg?-wwn5ej#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

