@import "01variables";

div.dmt-form {
	border: 1px solid $op-bgColor;
	padding: 5px;
	margin: 10px;
}
//
//table.dmt-form th {
//	background-color: $op-color;
//}
//
table.dmt-simple {
	background-color: $table-bgColor;
}

table.dmt-simple > thead > tr > td {
	background-color: $table-header-bgColor;
	text-align: center;
	color: $table-header-color;
}

table.dmt-simple > tbody > tr:hover {
	background-color: $table-row-hover-color;
}