@import "01variables";

.fa {
	color: $op-bgColor;
}

button:hover:enabled > .fa {
	color: $bgColor;
}

*:disabled .fa {
	color: $disabled-color;
}

.ic-imp {
	color: #ba7e80;
}

.ic-true {
	color: green;
}

.ic-false {
	color: red;
}
