@import "01variables";

.w-input, input[type="password"] {
	border-bottom: 1px solid $op-bgColor !important;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	padding: 1px;
	border-radius: 0;
}

div.w-input-lbl {
	background-color: $op-color;
	font-weight: bold;
	text-align: center;
}

div.w-float-cell {
	border-bottom: 1px solid $op-color;
}

table.w-wiz {
	border: 1px solid $op-bgColor;
	padding: 3px;
}

td.w-wiz-title {
	border: 1px dashed $op-bgColor;
	height: 20px;
	text-align: center;
}

tr.w-wiz-bar {
	background-color: $op-color;
	border-bottom: 1px solid $op-bgColor;
}

tr.w-wiz-content {
}

.CodeMirror-hints {
	direction: ltr;
	text-align: left;
}

.sm {
	z-index: 8000 !important;
}