@import "01variables";

.w-input, input[type="password"] {
	border: 1px solid $op-bgColor !important;
	padding: 1px;
	border-radius: 0;
}

div.w-input-lbl {
	font-weight: bold;
	background-color: $op-color;
	text-align: center;
}

table.w-wiz {
	border: 1px solid $op-bgColor;
	padding: 3px;
}

td.w-wiz-title {
	height: 20px;
	text-align: center;
	border: 1px dashed $op-bgColor;
}

tr.w-wiz-bar {
	background-color: $op-color;
	border-bottom: 1px solid $op-bgColor;
}

tr.w-wiz-content {
}

.CodeMirror-hints {
	direction: ltr;
	text-align: left;
}