@import "01variables";
@import "02mixins";
@import "03fonts";
@import "04tables";
@import "05icons";
@import "10wickomp";

// Assigning font-family here affects all elements and it can't be undone in CodeMirror,
// so the font-family is assigned specifically
* {
	color: $color;
	font-size: $normal-font-size !important;
}

input, button, select {
	font-family: $default-font;
}

body {
	margin: 0;
	background-color: $bgColor;
	font-family: $default-font;
}

table.dmt-header {
	background-color: $op-bgColor;
	width: 100%;
}

table.dmt-header * {
	color: $op-color;
}

td.dmt-header-brand {
	padding: 0 10px;
	font-family: BTitrBold, Tahoma, sans-serif;
	font-size: $brand-font !important;
	white-space: nowrap;
}

td.dmt-header-user {
	padding: 0 10px;
	font-family: BKoodakBold, Tahoma, sans-serif;
	font-size: $normal-font-size !important;
	white-space: nowrap;
}

td.dmt-header-menu {
	width: 100%;
}

//td.dmt-header-menu ul.sm > li > a {
//	color: $op-color;
//}
//
//td.dmt-header-menu ul.sm > li > a.highlighted {
//	color: $color;
//}
//
div.dmt-content {
	margin: 10px 20px;
}

// always LTR for special tags
input.al-ltr, p.al-ltr {
	direction: ltr;
	text-align: left;
	font-family: $ltr-font;
}

div.al-ltr input {
	direction: ltr;
	text-align: left;
	font-family: $ltr-font;
}