@import "01variables";
@import "02mixins";
@import "03fonts";
@import "04tables";
@import "10wickomp";

* {
	color: $color;
	font-family: BNazanin, Tahoma, sans-serif;
	font-size: $normal-font !important;
}

body {
	margin: 0;
	background-color: $bgColor;
}

table.dmt-header {
	background-color: $op-bgColor;
	width: 100%;
}

td.dmt-header-brand {
	color: $op-color;
	padding: 0 10px;
	font-family: BTitrBold, Tahoma, sans-serif;
	font-size: $brand-font !important;
	white-space: nowrap;
}

td.dmt-header-menu {
	width: 100%;
}

td.dmt-header-menu ul.sm>li>a {
	color: $op-color;
}

td.dmt-header-menu ul.sm>li>a.highlighted {
	color: $color;
}

div.dmt-content {
	margin: 10px 20px;
}